<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/package/1">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotel/1">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/place/1">Places</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/help/1">Help</a>
        </li>
      </ul>
    </div>
  </nav>
  