<div class="package">
    <body>
      <div class="row rows">
        <div class="col-md-4">
            <h2 class="card-title">Premium</h2>
            <p class="card-text">Budget Friendly</p>
          <div class="image-container">
              <img src="../../assets/images/package-image-1.jpg" alt="Package 1">
         </div>
         <div class="row row-btn">
            <div class="col-md-6">
                <a routerLink="/Premium" class="btn btn-primary button-margin" matTooltip="Click on Explore Now , to know about this Package">Explore Now</a>
            </div>
            <div class="col-md-6">
                   <a class="btn btn-primary" (click)="sendEnquiry('Premium')" matTooltip="Click on Book now , to Book Your Package">Book Now</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <h2 class="card-title">Deluxe</h2>
            <p class="card-text">Family Friendly</p>
          <div class="image-container">
              <img src="../../assets/images/package-image-1.jpg" alt="Package 1">
         </div>
         <div class="row row-btn">
            <div class="col-md-6">
                <a  routerLink="/Deluxe"  class="btn btn-primary button-margin" matTooltip="Click on Explore Now , to know about this Package" >Explore Now</a>
            </div> 
            <div class="col-md-6">
                <a class="btn btn-primary" (click)="sendEnquiry('Deluxe')" matTooltip="Click on Book now , to Book Your Package">Book Now</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <h2 class="card-title">Diamond</h2>
            <p class="card-text">Luxury Package</p>
          <div class="image-container">
              <img src="../../assets/images/package-image-1.jpg" alt="Package 1">
         </div>
  
        <div class="row row-btn">
            <div class="col-md-6">
                <a routerLink="/Diamond" class="btn btn-primary button-margin" matTooltip="Click on Explore Now , to know about this Package" >Explore Now</a>
            </div>
            <div class="col-md-6">
                <a  class="btn btn-primary" (click)="sendEnquiry('Diamond')" matTooltip="Click on Book now , to Book Your Package">Book Now</a>
            </div>
        </div>
   
        </div>
         </div>
    </body>
  </div>
   