/* Add this CSS in your styles.css or your component's style file */

.footer-container {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.about-section {
  max-width: 600px;
  margin: 0 auto;
}

h3 {
  color: #fff; /* White text color */
}

p {
  color: #fff; /* White text color */
}

a {
  color: #ffd700; /* Yellow email color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Update the CSS for social-icons in your styles.css or your component's style file */
.social-icons a {
  display: inline-block;
  margin-right: 15px;
  background-color: #ffffff; /* White background for icons */
  border-radius: 50%; /* Circular shape for icons */
  padding: 10px;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: #ffd700; /* Yellow background on hover */
}

.social-icons mat-icon,
.social-icons i {
  font-size: 24px;
  color: #000; /* Black color for icons */
}

.social-icons a:hover mat-icon,
.social-icons a:hover i {
  color: #000000; /* Yellow color on hover */
}
