<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="footer-container">
  <footer>
    <div class="about-section">
      <h3>About Us</h3>
      <p>Welcome to our website! We are dedicated to...</p>
      <!-- Add more content about your website or organization -->
      <p>Contact us at: <a href="mailto:therohyat@gmail.com">therohyat@gmail.com</a></p>
      <!-- Add Address -->
      <p>Visit us at: Lal Chowk  Srinagar - 190001 , Jammu and Kashmir</p>
      <!-- Add Social Networking Icons using MatIcon -->
     <!-- Update the social-icons section in your HTML -->
 <div class="social-icons">
  <a href="https://facebook.com/therohyat" target="_blank" rel="noopener noreferrer">
    <mat-icon>facebook</mat-icon>
  </a>
  <a href="https://twitter.com/therohyat" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://instagram.com/therohyat" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://api.whatsapp.com/send?phone=+91-9149418161" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp"></i>
</a>
</div>
 </div>
  </footer>
</div>
