body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  min-height: 400px;
  overflow: auto;
}

.col-md-4 {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px; /* Adjust based on your design */
  margin: 1em 0;
}

h2 {
  text-align: center;
  color: #333; /* Adjust text color based on your design */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
}

img {
  height: 200px;
  width: 350px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.about-section {
  max-width: 800px;
  margin: 0 auto;
  height: 23vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: #ffcc00;
   /* Adjust heading text color based on your design */
}

a {
  color: #ffcc00; /* Match the link color with the heading color */
}

/* Media queries for responsive design */
@media (min-width: 768px) {
  .col-md-4 {
    width: 30%;
  }
}
.messagediv {
  flex-direction: row !important;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  background-color: #00ffc8;
  color: #fff;
  border-radius: 15px; /* Adjust the value to control the curve */
  margin: 5px auto; /* Center the container horizontally */
}

.message {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
}

.image-container {
  margin-top: 10px;
}

/* Add any additional styling as needed */

@media (max-width: 768px) {
  .message-container {
    margin: auto; /* Adjust styles for tablets and phones */
  }

}

@media (max-width: 768px) {
  .messagediv {
    margin: 10px; /* Adjust styles for tablets and phones */
  }

}
