<div class="home">
  <body>
    <div class="messagediv">
      <h2 class="message">Soon You can book packages from here ! </h2>
    </div>
    <div class="video-container">
      <video #myVideo width="100%" height="auto" controls>
        <source src="../../assets/videos/VID_33301015_221141_586.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Packages</h2>
        <div class="image-container">
          <a routerLink="/package/1">
            <img src="../../assets/images/package-image-1.jpg" alt="Package 1">
            <div class="overlay">Click to View</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Places</h2>
        <div class="image-container">
          <a routerLink="/place/1">
            <img src="../../assets/images/places-image-1.jpg" alt="Place 1">
            <div class="overlay">Click to View</div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Hotels</h2>
        <div class="image-container">
          <a routerLink="/hotel/1">
            <img src="../../assets/images/hotel-image-1.jpg" alt="Hotel 1">
            <div class="overlay">Click to View</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</div>
