/* landing-page.component.css */

/* Common styles for all screen sizes */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.premium-package {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 300px; /* Adjust max-width for responsiveness */
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.premium-package:hover {
  border-color: #007bff;
}

.places-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
  justify-content: space-around;
  align-items: stretch; /* Make items stretch vertically */
}

.place-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 300px; /* Adjust max-width for responsiveness */
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.place-card:hover {
  transform: translateY(-5px);
  border-color: #007bff;
}

.place-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.place-card:hover .place-image {
  transform: scale(1.1);
}

.place-details {
  text-align: left;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  background-color: #0056b3;
}
@media (min-width:768px){
  .places-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure one row for desktop view */
    justify-content: space-around;
    align-items: stretch; /* Make items stretch vertically */
  }
}
/* Media Query for tablet and phone screens */
@media (max-width: 768px) {
  .premium-package, .place-card {
    max-width: 100%; /* Adjust styles for tablets and phones */
  }
}
